div.bookTable
{

}

div.bookMain
{
  display:inline-block;
  height: 400px;
  width: 300px;
}

div.bookTitle
{
  text-align: center;
}

div.bookMain
{
  width: 220px;
  height: 330px;
}

div.bookPic img
{
  height: 300px;
}

footer
{
    position: absolute;
    right: 10px;
    width: 30%;
    min-width: 300px;
    border-radius: 15px;
    background-color: floralwhite;
    margin: 10px;
    padding: 10px;
    text-align: right;
    text-shadow: 2px 2px gainsboro;
    font-family: sans-serif;
    font-size: 0.7em;
}
footer table
{
    display: inline-block;
}
